.screen
  height: 60px
  background-color: lightgray
  color: black
  text-align: right
  padding: 20px
  font-size: 3rem
  border: none
  margin: 10px

.calculator
  width: 400px
  margin: 0 auto

.row-space
  padding: 10px 15px
button
  font-size: 1.5rem
  height: 100%
  width: 100%

