<div style="padding-top: 70px;">
  <div class="card calculator">
    <input class="screen" type="text" value="69" disabled/>
    <div class="container">
      <div class="row row-space">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary calculator-button">(</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-secondary">)</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-warning">CE</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-danger">C</button>
        </div>
      </div>

      <div class="row row-space">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary">7</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-secondary">8</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-secondary">9</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-info">&divide;</button>
        </div>
      </div>

      <div class="row row-space">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary">4</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-secondary">5</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-secondary">6</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-info">&times;</button>
        </div>
      </div>

      <div class="row row-space">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary">1</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-secondary">2</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-secondary">3</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-info">-</button>
        </div>
      </div>

      <div class="row row-space">
        <div class="col text-center">
          <button type="button" class="btn btn-secondary">0</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-secondary">.</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-primary">=</button>
        </div>
        <div class="col text-center">
          <button type="button" class="btn btn-info">+</button>
        </div>
      </div>
    </div>


  </div>

</div>
